body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#results li {
    list-style: none;
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    margin: 8px;
}

#results li a {
    display: block;
    height: 100px;
    width: 100px;
}

#results li:hover {
    outline: 6px solid lime;
}

#preview img {max-width: 90%;}
